@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #F5C82C;
  --secondary-color: #475b42d8;
  --title: #3A3A3A;
  --subtitle: #767676;
  --bg-images:#475b427a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main-content h1 {
  @apply text-3xl font-bold mb-10 text-center text-[color:var(--title)];
}

.main-content h2{
  @apply text-2xl font-semibold my-8;
}

.main-content h3{
  @apply text-lg font-semibold my-5;
}

.main-content p{
  @apply text-justify mb-4;
}

.main-content ul{
  @apply list-disc pl-10 flex flex-col gap-4.5 mb-8;
}

.main-content span{
  @apply font-semibold;
}

.main-content li{
  @apply text-justify;
}

.main-content a{
  @apply hover:text-[var(--primary-color)]
}

.custom-img {
  @apply cursor-pointer rounded-lg shadow-md transition-transform hover:scale-105 my-9;
}